<title>generator</title>

<link rel="stylesheet" href="/bower_components/guss-webfonts/nextgen-webfonts.css" />
<link rel="stylesheet" href="/generator.css" />

<div class="container">
	<h1>Embed the Guardian.</h1>
	<p class="help">Paste a URL, get an embed code.</h1>
	<input type="text" />
	<textarea></textarea>
	<div class="preview-container"></div>
	<div class="examples">
		<h2>examples</h2>
		<iframe frameborder="0" seamless width="500" src="<%= api_root %>/html/commentisfree/2014/sep/17/women-school-dress-code-violations-legal"></iframe>
		<iframe frameborder="0" seamless width="500" src="<%= api_root %>/html/politics/live/2014/sep/18/scottish-independence-referendum-polling-day-live"></iframe>
		<iframe frameborder="0" seamless width="500" src="<%= api_root %>/html/fashion/2014/sep/18/prada-milan-fashion-week"></iframe>
	</div>
</div>

<script>
(function() {
	var d = document;
	var input = d.querySelector('input');
	var api_root = "<%= api_root %>"

	// iframe-messenger listener
	window.addEventListener('message', function(e) {
		var message = JSON.parse(e.data);
		if(message.type !== 'set-height') return;

		var iframes = d.querySelectorAll('iframe');
		for(var i = 0; i < iframes.length; i++) {
			if(e.source === iframes[i].contentWindow) {
				iframes[i].style.height = message.value;
			}
		}
	}, false);

	var httpRequest = function() {
	    if(window.XMLHttpRequest) return new XMLHttpRequest();

	    if(window.ActiveXObject) {
	        try      { return new ActiveXObject("Msxml2.XMLHTTP"); }
	        catch(e) { return new ActiveXObject("Microsoft.XMLHTTP"); }
	    }
	}

	var simpleRequest = {};
	simpleRequest.get = function(uri, cb, err) {
		var req = new httpRequest();

		req.onreadystatechange = function() {
			if(req.readyState === 4) {
				if(req.status === 200) {
					cb(req.responseText);
				} else {
					err(req.responseText);
				}
			}
		}

		req.open('GET', uri);
		req.send();
	}

	input.onchange = function() {
		var display = d.querySelector('textarea');
		var container = d.querySelector('.container');
		var previewContainer = d.querySelector('.preview-container');

		if(!/^https?:\/\/www.theguardian\.com\/.*\d{4}.*/.test(input.value)) {
			display.innerHTML = 'not a guardian content URL';
			input.focus();
			return;
		}

		var path = input.value.replace(/^https?:\/\/www.theguardian\.com/, '');
		simpleRequest.get('/embed' + path, function(response) {
			display.innerHTML = response;

			var tmp = d.createElement('div');
			var link = api_root + "/oembed" + path;
			tmp.innerHTML = "<h2>composer link</h2><a class='composer-link' href='" + link + "'>" + link + "</a>"

			var preview = d.createElement('div');
			preview.innerHTML = response;
			preview.querySelector('iframe').height = 0;

			previewContainer.innerHTML = '<h2>preview</h2>'
			previewContainer.style.display = "block";
			previewContainer.appendChild(preview);
			previewContainer.appendChild(tmp);
		}, function() {
			console.log('something went horribly awry');
		});
	}

	input.focus();
})();
</script>