<aside>
	<h3>Related <%= content[:type] %></h3>
	<a href="<%= content[:url] %>" data-canonical-url="http://theguardian.com/embed/card/<%= content[:path] %>" data-default-height="300" data-interactive="http://interactive.guim.co.uk/embed/iframe-wrapper/0.1/boot.js"><%= content[:title] %></a>
</aside>